In [74]:
import pandas as pd
import json
import csv
import sys
import urllib.request

In [75]:
# with open('test_file.json') as f:
#    data = f.readlines()

In [76]:
# print(data)

In [77]:
# type(data)

In [78]:
with urllib.request.urlopen("https://ws.camtc.org/api/Individual/IndividualSearchPublic/123?FirstName=&LastName=&LicenseNumber=&CityofWork=san%20diego") as url:
    data = json.loads(url.read().decode())

In [79]:
print(type(data['IndividualSearchResponse']))

<class 'list'>

In [80]:
df = pd.DataFrame(data)

In [81]:
df.head()

,IndividualSearchResponse,Message,RecordId,Status,StatusCode,ResponseReason
0,"{'FirstName': 'Lori', 'MiddleName': 'Teresa', ...",,0,True,00,None
1,"{'FirstName': 'Shizuko', 'MiddleName': '', 'La...",,0,True,00,None
2,"{'FirstName': 'Eric Benard', 'MiddleName': '',...",,0,True,00,None
3,"{'FirstName': 'Ai', 'MiddleName': '', 'LastNam...",,0,True,00,None
4,"{'FirstName': 'Zhi Jun', 'MiddleName': '', 'La...",,0,True,00,None

In [83]:
df[['IndividualSearchResponse']].head(1)

                            IndividualSearchResponse
0  {'FirstName': 'Lori', 'MiddleName': 'Teresa', ...

import ast

In [ ]:
# dfNew = df['IndividualSearchResponse'] = df['IndividualSearchResponse']

In [87]:
df.drop(['ResponseReason'], axis=1)

,IndividualSearchResponse,Message,RecordId,Status,StatusCode
0,"{'FirstName': 'Lori', 'MiddleName': 'Teresa', ...",,0,True,00
1,"{'FirstName': 'Shizuko', 'MiddleName': '', 'La...",,0,True,00
2,"{'FirstName': 'Eric Benard', 'MiddleName': '',...",,0,True,00
3,"{'FirstName': 'Ai', 'MiddleName': '', 'LastNam...",,0,True,00
4,"{'FirstName': 'Zhi Jun', 'MiddleName': '', 'La...",,0,True,00
5,"{'FirstName': 'Becky', 'MiddleName': 'Lou', 'L...",,0,True,00
6,"{'FirstName': 'Sharyl', 'MiddleName': 'Wendy',...",,0,True,00
7,"{'FirstName': 'David', 'MiddleName': 'Allen', ...",,0,True,00
8,"{'FirstName': 'Thomas', 'MiddleName': 'V.', 'L...",,0,True,00
9,"{'FirstName': 'Andra', 'MiddleName': 'Fern ', ...",,0,True,00
10,"{'FirstName': 'Misuk', 'MiddleName': '', 'Last...",,0,True,00
11,"{'FirstName': 'Kathleen', 'MiddleName': 'Thanh...",,0,True,00
12,"{'FirstName': 'Martina', 'MiddleName': 'Caruso...",,0,True,00
13,"{'FirstName': 'Janelle', 'MiddleName': 'Rebecc...",,0,True,00
14,"{'FirstName': 'Kristi', 'MiddleName': 'L.', 'L...",,0,True,00
15,"{'FirstName': 'Tracy', 'MiddleName': 'Lee', 'L...",,0,True,00
16,"{'FirstName': 'Yixia', 'MiddleName': '', 'Last...",,0,True,00
17,"{'FirstName': 'Terrenz', 'MiddleName': '', 'La...",,0,True,00
18,"{'FirstName': 'Thuy', 'MiddleName': 'N.', 'Las...",,0,True,00
19,"{'FirstName': 'Susan', 'MiddleName': 'Elizabet...",,0,True,00
20,"{'FirstName': 'Eileen', 'MiddleName': 'Mercede...",,0,True,00
21,"{'FirstName': 'Sara', 'MiddleName': 'Pedrosa',...",,0,True,00
22,"{'FirstName': 'Eri', 'MiddleName': '', 'LastNa...",,0,True,00
23,"{'FirstName': 'Sharon', 'MiddleName': 'Karise'...",,0,True,00
24,"{'FirstName': 'Soavaluck', 'MiddleName': 'Vong...",,0,True,00
25,"{'FirstName': 'Bridget', 'MiddleName': 'Antoni...",,0,True,00
26,"{'FirstName': 'Petra', 'MiddleName': '', 'Last...",,0,True,00
27,"{'FirstName': 'Amanda', 'MiddleName': 'Jeanne'...",,0,True,00
28,"{'FirstName': 'Mark', 'MiddleName': 'Wayne', '...",,0,True,00
29,"{'FirstName': 'Kris', 'MiddleName': '', 'LastN...",,0,True,00
...,...,...,...,...,...
1774,"{'FirstName': 'Jacqueline', 'MiddleName': 'Den...",,0,True,00
1775,"{'FirstName': 'Michelle', 'MiddleName': 'Lea',...",,0,True,00
1776,"{'FirstName': 'Margaret', 'MiddleName': 'Mary'...",,0,True,00
1777,"{'FirstName': 'Erica', 'MiddleName': 'Jo', 'La...",,0,True,00
1778,"{'FirstName': 'Haiping', 'MiddleName': '', 'La...",,0,True,00
1779,"{'FirstName': 'Tianna', 'MiddleName': '', 'Las...",,0,True,00
1780,"{'FirstName': 'Erin', 'MiddleName': '', 'LastN...",,0,True,00
1781,"{'FirstName': 'Francisco', 'MiddleName': 'Javi...",,0,True,00
1782,"{'FirstName': 'Casey', 'MiddleName': 'Marie', ...",,0,True,00
1783,"{'FirstName': 'Kanlaya', 'MiddleName': '', 'La...",,0,True,00
1784,"{'FirstName': 'Lili', 'MiddleName': '', 'LastN...",,0,True,00
1785,"{'FirstName': 'Hilda', 'MiddleName': 'America'...",,0,True,00
1786,"{'FirstName': 'Danielle', 'MiddleName': 'Nicol...",,0,True,00
1787,"{'FirstName': 'Mariah', 'MiddleName': '', 'Las...",,0,True,00
1788,"{'FirstName': 'Marie', 'MiddleName': 'Fernande...",,0,True,00
1789,"{'FirstName': 'Brent', 'MiddleName': 'Edward',...",,0,True,00
1790,"{'FirstName': 'Rhea', 'MiddleName': '', 'LastN...",,0,True,00
1791,"{'FirstName': 'Jennifer', 'MiddleName': '', 'L...",,0,True,00
1792,"{'FirstName': 'April', 'MiddleName': 'Donae', ...",,0,True,00
1793,"{'FirstName': 'Joshua', 'MiddleName': 'Barrett...",,0,True,00
1794,"{'FirstName': 'Phong', 'MiddleName': 'Thien', ...",,0,True,00
1795,"{'FirstName': 'Nancy', 'MiddleName': 'Edith', ...",,0,True,00
1796,"{'FirstName': 'Liping', 'MiddleName': '', 'Las...",,0,True,00
1797,"{'FirstName': 'Azilee', 'MiddleName': 'Mae', '...",,0,True,00
1798,"{'FirstName': 'Cheryl', 'MiddleName': 'Ann', '...",,0,True,00
1799,"{'FirstName': 'Wendi', 'MiddleName': '', 'Last...",,0,True,00
1800,"{'FirstName': 'Linda', 'MiddleName': 'Irene', ...",,0,True,00
1801,"{'FirstName': 'Christine', 'MiddleName': 'Ann'...",,0,True,00
1802,"{'FirstName': 'Teresa', 'MiddleName': '', 'Las...",,0,True,00
1803,"{'FirstName': 'Gordon', 'MiddleName': 'Wayne',...",,0,True,00

In [94]:
new = pd.DataFrame([df.IndividualSearchResponse]).transpose()

In [95]:
new.head()

                            IndividualSearchResponse
0  {'FirstName': 'Lori', 'MiddleName': 'Teresa', ...
1  {'FirstName': 'Shizuko', 'MiddleName': '', 'La...
2  {'FirstName': 'Eric Benard', 'MiddleName': '',...
3  {'FirstName': 'Ai', 'MiddleName': '', 'LastNam...
4  {'FirstName': 'Zhi Jun', 'MiddleName': '', 'La...

In [102]:
new['IndividualSearchResponse'].apply(pd.Series)

,FirstName,MiddleName,LastName,CertificateNumber,CertificateType,Effective,Expires,CityfromIndividualAddress,IndividualId,Status
0,Lori,Teresa,Pellegrini,2838,Certified Massage Therapist,2019-02-08T00:00:00,2021-02-08T00:00:00,SAN DIEGO,3388,Active
1,Shizuko,,Yamagishi,474,Certified Massage Therapist,2019-10-08T00:00:00,2021-10-08T00:00:00,San Diego,7269,Active
2,Eric Benard,,Edwards,831,Certified Massage Therapist,2018-02-15T00:00:00,2020-02-15T00:00:00,San Diego,8188,Active
3,Ai,,Jones,1187,Certified Massage Therapist,2019-11-16T00:00:00,2021-11-16T00:00:00,San Diego,10622,Active
4,Zhi Jun,,Xu,19853,Certified Massage Therapist,2019-02-11T00:00:00,2021-02-11T00:00:00,San Diego,10851,Active
5,Becky,Lou,Gonzalez,5771,Certified Massage Practitioner,2018-02-26T00:00:00,2020-02-26T00:00:00,"San Diego,Encinitas",10502,Active
6,Sharyl,Wendy,Grayson,2146,Certified Massage Therapist,2017-12-17T00:00:00,2019-12-17T00:00:00,San Diego,232,Active
7,David,Allen,Rice,4997,Certified Massage Therapist,2018-02-16T00:00:00,2020-02-16T00:00:00,San Diego,2006,Active
8,Thomas,V.,Annese,1687,Certified Massage Therapist,2017-12-15T00:00:00,2019-12-15T00:00:00,SAN DIEGO,12665,Active
9,Andra,Fern,Smith,2507,Certified Massage Therapist,2019-12-28T00:00:00,2021-12-28T00:00:00,San Diego,12717,Active
10,Misuk,,Chung,2367,Certified Massage Therapist,2017-12-23T00:00:00,2019-12-23T00:00:00,SAN DIEGO,13486,Active
11,Kathleen,Thanh,Nguyen,3064,Certified Massage Therapist,2018-01-07T00:00:00,2020-01-07T00:00:00,San Diego,19090,Active
12,Martina,Caruso,Nelson,11302,Certified Massage Therapist,2018-07-28T00:00:00,2020-07-28T00:00:00,San Diego,446,Active
13,Janelle,Rebecca,Freeman,10441,Certified Massage Therapist,2019-01-04T00:00:00,2021-01-04T00:00:00,San Diego,2124,Active
14,Kristi,L.,Ogden,5667,Certified Massage Therapist,2018-02-25T00:00:00,2020-02-25T00:00:00,San Diego,19721,Active
15,Tracy,Lee,Dreiling,4904,Certified Massage Therapist,2018-02-12T00:00:00,2020-02-12T00:00:00,"San Diego,LaJolla",21841,Active
16,Yixia,,Lu,10179,Certified Massage Therapist,2018-06-18T00:00:00,2020-06-18T00:00:00,san diego,22845,Active
17,Terrenz,,Yuen,5768,Certified Massage Therapist,2018-02-26T00:00:00,2020-02-26T00:00:00,San Diego,23717,Active
18,Thuy,N.,Le,5575,Certified Massage Therapist,2018-02-24T00:00:00,2020-02-24T00:00:00,SAN DIEGO,23276,Active
19,Susan,Elizabeth,Gilbert,9202,Certified Massage Therapist,2018-05-05T00:00:00,2020-05-05T00:00:00,San Diego,24424,Active
20,Eileen,Mercedes,Pisanich,5774,Certified Massage Therapist,2018-03-12T00:00:00,2020-03-12T00:00:00,"San Diego,La Mesa",23988,Active
21,Sara,Pedrosa,Wineski,6695,Certified Massage Practitioner,2018-03-10T00:00:00,2020-03-10T00:00:00,san diego,23077,Active
22,Eri,,Kishi,7419,Certified Massage Therapist,2018-03-21T00:00:00,2020-03-21T00:00:00,San Diego,373,Active
23,Sharon,Karise,Plache,8393,Certified Massage Therapist,2018-04-06T00:00:00,2020-04-06T00:00:00,San Diego,27183,Active
24,Soavaluck,Vongxai,Nguyen,19635,Certified Massage Practitioner,2019-04-05T00:00:00,2021-04-05T00:00:00,San Diego,27407,Active
25,Bridget,Antonia,Malcolm,3044,Certified Massage Therapist,2018-01-07T00:00:00,2020-01-07T00:00:00,"Poway,San Diego",4811,Active
26,Petra,,Vetter,171,Certified Massage Therapist,2019-09-30T00:00:00,2021-09-30T00:00:00,San Diego,3400,Active
27,Amanda,Jeanne,Perez,9579,Certified Massage Therapist,2018-05-20T00:00:00,2020-05-20T00:00:00,"La Jolla,San Diego",29892,Active
28,Mark,Wayne,Bourdette,10003,Certified Massage Therapist,2018-06-11T00:00:00,2020-06-11T00:00:00,San Diego,31094,Active
29,Kris,,Nash,14078,Certified Massage Therapist,2019-02-04T00:00:00,2021-02-04T00:00:00,San Diego,32987,Active
...,...,...,...,...,...,...,...,...,...,...
1774,Jacqueline,Denise,Hale,19546,Certified Massage Therapist,2017-08-10T00:00:00,2019-08-10T00:00:00,San Diego,45406,Active
1775,Michelle,Lea,Lewis,26728,Certified Massage Therapist,2019-10-14T00:00:00,2021-10-14T00:00:00,San Diego,57020,Active
1776,Margaret,Mary,Surface,14042,Certified Massage Therapist,2019-12-01T00:00:00,2021-12-01T00:00:00,"San Diego,Denver",29927,Active
1777,Erica,Jo,Griffin,70494,Certified Massage Therapist,2018-05-18T00:00:00,2020-05-18T00:00:00,San Diego,114543,Active
1778,Haiping,,Xin,52206,Certified Massage Therapist,2019-12-03T00:00:00,2021-12-03T00:00:00,San Diego,87898,Active
1779,Tianna,,Barr,74767,Certified Massage Therapist,2019-11-09T00:00:00,2021-11-09T00:00:00,"San Diego,La Mesa",132593,Active
1780,Erin,,Thompson,76334,Certified Massage Therapist,2018-07-27T00:00:00,2020-07-27T00:00:00,"GILBERT,San Diego",135356,Active
1781,Francisco,Javier,Delgado,81568,Certified Massage Therapist,2019-09-17T00:00:00,2021-09-17T00:00:00,"San Diego,San Marcos",147573,Active
1782,Casey,Marie,Logas,81643,Certified Massage Therapist,2019-09-25T00:00:00,2021-09-25T00:00:00,"Finlayson,greeneville,san diego",147395,Active
1783,Kanlaya,,Chaiyasan,77551,Certified Massage Therapist,2019-01-16T00:00:00,2021-01-16T00:00:00,"Mission Viejo,Corona,San Diego",140734,Active
1784,Lili,,Zhang,68936,Certified Massage Therapist,2019-12-05T00:00:00,2021-12-05T00:00:00,San Diego,112696,Active
1785,Hilda,America,Gonzalez Urbina,74548,Certified Massage Therapist,2019-10-24T00:00:00,2021-10-24T00:00:00,"Los Angeles,san diego",126889,Active
1786,Danielle,Nicole,Fanello,23984,Certified Massage Therapist,2019-09-18T00:00:00,2021-09-18T00:00:00,"La Mesa,San Diego",51642,Active
1787,Mariah,,Moreno,78679,Certified Massage Therapist,2019-03-11T00:00:00,2021-03-11T00:00:00,San Diego,135296,Active
1788,Marie,Fernandez,Umayam,25538,Certified Massage Therapist,2019-10-17T00:00:00,2021-10-17T00:00:00,San Diego,55077,Active
1789,Brent,Edward,Haney,42441,Certified Massage Therapist,2017-09-29T00:00:00,2019-09-29T00:00:00,"Poway,San Diego",75576,Expired
1790,Rhea,,Vega,13162,Certified Massage Therapist,2018-10-08T00:00:00,2020-10-08T00:00:00,San Diego,34427,Active
1791,Jennifer,,Ostrander,74616,Certified Massage Therapist,2019-11-02T00:00:00,2021-11-02T00:00:00,"Warrington,ASHEVILLE,FURLONG,San Diego",129577,Active
1792,April,Donae,Williams,28625,Certified Massage Therapist,2019-12-14T00:00:00,2021-12-14T00:00:00,San Diego,57296,Active
1793,Joshua,Barrett,Ramay,2142,Certified Massage Therapist,2019-12-17T00:00:00,2021-12-17T00:00:00,San Diego,13998,Active
1794,Phong,Thien,Lam,1308,Certified Massage Therapist,2017-12-19T00:00:00,2019-12-19T00:00:00,SAN DIEGO,9163,Active
1795,Nancy,Edith,Valdez Rivera,27436,Certified Massage Therapist,2019-11-27T00:00:00,2021-11-27T00:00:00,San Diego,55928,Active
1796,Liping,,Zhang,52487,Certified Massage Therapist,2019-12-10T00:00:00,2021-12-10T00:00:00,San Diego,88415,Active
1797,Azilee,Mae,Frye,25904,Certified Massage Therapist,2017-10-26T00:00:00,2019-10-26T00:00:00,San Diego,52907,Active
1798,Cheryl,Ann,McCracken,74514,Certified Massage Therapist,2019-10-18T00:00:00,2021-10-18T00:00:00,"KANSAS CITY,MANASSAS,LAKE RIDGE,NEWPORT NEWS,D...",131058,Active
1799,Wendi,,Jack,74617,Certified Massage Therapist,2019-11-02T00:00:00,2021-11-02T00:00:00,San Diego,129821,Active
1800,Linda,Irene,Perez,72143,Certified Massage Therapist,2018-10-15T00:00:00,2020-10-15T00:00:00,San Diego,122512,Active
1801,Christine,Ann,Khalil,15472,Certified Massage Therapist,2018-10-20T00:00:00,2020-10-20T00:00:00,"San Jose,San Diego",40717,Active
1802,Teresa,,Ramirez,74947,Certified Massage Therapist,2017-12-18T00:00:00,2019-12-18T00:00:00,San Diego,133322,Active
1803,Gordon,Wayne,Cowles,1075,Certified Massage Therapist,2017-12-27T00:00:00,2019-12-27T00:00:00,san diego,11586,Active

In [106]:
licensees = new['IndividualSearchResponse'].apply(pd.Series)

In [109]:
licenseesdf = pd.DataFrame(licensees)

In [110]:
licenseesdf.head()

,FirstName,MiddleName,LastName,CertificateNumber,CertificateType,Effective,Expires,CityfromIndividualAddress,IndividualId,Status
0,Lori,Teresa,Pellegrini,2838,Certified Massage Therapist,2019-02-08T00:00:00,2021-02-08T00:00:00,SAN DIEGO,3388,Active
1,Shizuko,,Yamagishi,474,Certified Massage Therapist,2019-10-08T00:00:00,2021-10-08T00:00:00,San Diego,7269,Active
2,Eric Benard,,Edwards,831,Certified Massage Therapist,2018-02-15T00:00:00,2020-02-15T00:00:00,San Diego,8188,Active
3,Ai,,Jones,1187,Certified Massage Therapist,2019-11-16T00:00:00,2021-11-16T00:00:00,San Diego,10622,Active
4,Zhi Jun,,Xu,19853,Certified Massage Therapist,2019-02-11T00:00:00,2021-02-11T00:00:00,San Diego,10851,Active

In [112]:
licenseesdf.to_csv('licensees_csv.csv', index=None, header=True)